@forward "./header/header";
@forward "./header/mobile-overlay";

@forward "./section";
@forward "./hero";

@forward "./services/services";
@forward "./services/banner";

@forward "./studies";
@forward "./process";
@forward "./team";

@forward "./reviews/reviews";
@forward "./reviews/pagination";

@forward "./contact-us";

@forward "./footer/soc1als";
@forward "./footer/subscribe-form";
@forward "./footer/footer";
